/* ChatWindow.css */
.chat-window {
  flex: 1;
  background-color: var(--primary-bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  /* background-image: url("https://i.imgur.com/zL9O7tQ.png"); */
  background-size: cover;
}

.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 60%;
  word-wrap: break-word;
  position: relative;
}

.received {
  background-color: #202c33;
  align-self: flex-start;
}

.sent {
  background-color: #005c4b;
  align-self: flex-end;
}

.status-message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 60%;
  word-wrap: break-word;
  position: relative;
}

.message p {
  margin: 0;
  line-height: 1.4;
}

.message span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  color: var(--icon-color);
  margin-top: 5px;
  gap: 3px;
}

.check-icon {
  font-size: 14px;
  color: var(--icon-color);
}
.chat-input {
  padding: 10px;
  background-color: var(--secondary-bg);
  display: flex;
  align-items: center;
  position: relative; /* Add relative positioning */
}

.input-icons {
  display: flex;
  gap: 15px;
  margin-right: 10px;
}

.chat-input textarea {
  flex: 1;
  padding: 1px 8px;
  background-color: var(--search-input-bg);
  border: none;
  color: var(--text-color);
  border-radius: 5px;
  outline: none;
  resize: none;
  overflow-y: auto;
  min-height: 16px;
  max-height: 150px;
  /* font-size: 16px; */
}

.chat-input .icon {
  font-size: 24px;
  color: var(--icon-color);
  cursor: pointer;
}

.date-separator {
  text-align: center;
  margin: 10px 0;
}

.date-separator span {
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--icon-color);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.chat-input .icon {
  font-size: 24px;
  color: var(--icon-color);
  margin-left: 10px;
}

.send-icon {
  font-size: 24px;
  color: var(--icon-color);
  cursor: pointer;
  margin-left: 10px;
}